.not-only {
  h2 {
    display: inline-block;
    margin: 0;
    margin-top: 193px;

    @media screen and (max-width: 767px) {
      @include mobile-h3;
      color: $color-light-xl;
    }
  }
  p {
    width: 460px;
    margin: 41px 0;

    @media screen and (max-width: 767px) {
      text-align: center;
      width: 100%;
    }
  }

  .container {
    padding-bottom: 243px;
  }
}

.puppy-bg {
  background: right bottom no-repeat;
  background-image: url(../../assets/pictures/start-screen-puppy.png);
}

@media screen and (max-width: 1280px) {
  .not-only {
    &__head {
    width: 460px;
    margin: 0 auto;
    }
    
    a {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }

    .container {
      padding-bottom: 693px;
      background-size: 593px;
    }
  }

  .not-only h2 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .not-only {
    .container {
      padding-bottom: calc(105px + 272px);
      background-size: 272px;
    }

    &__head {
      width: 100%;
      margin: 0 auto;
    }
  }
   
}